<div class="content">
  <h3>Update Profile</h3>

  <form action="/student/updateStudent" method="post">

    <!-- <h1> Signup form </h1> -->
    <!-- -->
    <input class="box" type="email" name="email" id="email" placeholder=" Registered E-Mail " /><br>
    <label for="email">Registered Email</label><br><br>
    <!-- 
    <input class="box" type="password" name="password" id="password" placeholder="Password "  /><br>
    <label for="password">password</label><br><br> -->

    <label for="fname">first name</label>
    <input class="box" type="text" name="fname" id="fname" placeholder="first Name" />

    <label for="lname">last name</label>
    <input class="box" type="text" name="lname" id="lname" placeholder="last Name" /><br><br>

    <input class="box" type="text" name="location" id="location" placeholder="location " /><br>
    <label for="location">Location</label><br><br>

    <input class="box" type="text" name="phone" id="phone" placeholder="Phone Number " /><br>
    <label for="phone">phone number</label><br><br>

    <input class="box" type="text" name="age" id="age" placeholder="Age " /><br>
    <label for="age">Age</label><br><br>



    <label for="education">education</label>
    <select class="box" name="education" id="education" placeholder="education">
      <option value="0">Select education:</option>
      <option value="1">High School Level</option>
      <option value="2">Under Graduate</option>
      <option value="3">Post Graduate</option>
    </select><br><br>

    <input class="box" type="text" name="institution" id="institution" placeholder="institution " /><br>
    <label for="institution">institution</label><br><br>

    <input class="box" type="text" name="cpi" id="cpi" placeholder="CPI " /><br>
    <label for="cpi">CPI</label><br><br>

    <input class="box" type="url" name="github" id="github" placeholder="github link " /><br>
    <label for="github">github link</label><br><br>

    <input class="box" type="file" name="resume" id="resume" placeholder="resume" /><br>
    <label for="resume">resume</label><br><br>

    <input type="submit" id="submitDetails" name="submitDetails" value="Submit" /><br>

  </form>
</div>