<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Upload Photo</title>
</head>
<body>
  <h1>This is photo page for student</h1>
  <form action="postPhoto" method="post" enctype="multipart/form-data">
    <div>
      <label for="image">Upload Image</label>
      <input type="file" id="image" name="image" value="" required>
  </div>
  <div>
    <button type="submit">Submit</button>
</div>
  </form>
</body>
</html>